header {
  padding: 30px;
  background-color: #d3d3d3;
  align-items: center;
}

header .hero-section {
  text-align: center;
}

header h2 {
  color: #ec5242;
  margin: 10% 0 3%;
}

header h1 {
  color: #ec5242;
  font-size: 3rem;
  font-weight: 900;
}

header p {
  text-align: center;
  font-size: 1rem;
}

header > div > div > p {
  padding: 20px 20px;
  border-color: #272a31;
  margin: 0 20%;
  font-size: 1rem;
  background-color: white;
  border: 1px #d3d3d3 solid;
}

header h4 {
  color: #272a31;
  font-size: 1.5rem;
}

.logo-details {
  text-align: center;
  margin-top: 5%;
}

.logo-details-img {
  width: 25%;
  border: 3px solid #d3d3d3;
  margin-top: 3%;
}

/* The card styling */

.recent-podcast {
  text-align: center;
  padding: 10%;
}

.recent-podcast h3 {
  font-size: 2.5rem;
  color: #272a31;
  margin-bottom: 1%;
}

.card-container {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.card img {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 89%;
  background-color: rgba(236, 82, 66, 0.7);
  z-index: 1;
}

.text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: auto;
  align-items: center;
  z-index: 2;
  color: white;
}

.text h2 {
  font-size: 4rem;
  margin-bottom: 10px;
}

/* This is the partners section */

.partners-container {
  background-color: #272a31;
  color: white;
  padding: 10%;
  text-align: center;
}

.partners-container h4 {
  font-size: 2rem;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.partners img {
  width: 25%;
  margin-top: 5%;
}

/* this is the footr styling */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10% 10%;
}

.footer-logo {
  width: 50%;
  height: 30%;
}

@media screen and (min-width: 768px) {
  header {
    padding: 0;
  }

  .hero-section {
    padding: 0 20% 10%;
  }

  header h2 {
    display: none;
  }

  .hero-section h1 {
    margin: 10% 10% 2%;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 900;
    text-transform:uppercase;
  }

  header h4 {
    margin-top: 5%;
    color: white;
      }

  .hero-section > div > p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .p-header {
    color: #d3d3d3;
  }

  .recent-podcast {
    padding: 5% 0;
    gap: 5%;
  }

  .card-container {
    flex-direction: row;
    gap: 3%;
    margin: 5% 20% 0;
    align-items: center;
    justify-content: center;
  }

  .partners-container {
    display: none;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background-color: #272a31;
    color: #d3d3d3;
  }

  .footer-logo {
    width: 10%;
    height: 30%;
  }
}
